.preNav{
    background-color: #2874f0;
    display:grid;
    grid-template-columns: 5fr 2fr;
    color: rgb(255, 255, 255);
    height: 66px;
}

.preNav > a{
    padding: 0 2vmax;
    display: flex;
    align-items: center;
 }
 .preNav > input{
    place-self: center;
    height: 40px;
    width: 490px;
 }

 .preNav > a svg{
    fill: rgb(255, 255, 255);
}

.preNav > a svg:hover{
    fill: rgb(255, 255, 255);
}


.preNav > button{
    height: 37px;
    align-self: center;
    width: 130px;
    border-color: white;
    background-color: white;
    color: #2874f0;
    margin-left: 43px;
}
